{% extends '../base.html' %}
{% block title %}Create A new Profile Page{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h1 class="text-center my-5">Create Profile Page</h1>
<div class="container my-5 border">
    <br><br>
 <div class="form-group">
     <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        
         {{form.as_p}}
         <button class="btn btn-success">Create Profile</button>
        </form>
    </div>
    {% comment %} <script>
        var id = "{{ user.id }}" 
        document.getElementById('userid').value = id
    </script> {% endcomment %}
    {% else %}
    <h1 class="text-center my-5">You are not allowed here!</h1>
    {% endif %}
</div>
{% endblock content %}