{% extends '../base.html' %}
{% block title %}Edit Profile Page{% endblock title %}

{% block content %}

<h1 class="text-center my-5">Profile Page</h1>
<div class="container my-5 border">
    <br><br>
    {% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
 <div class="form-group">
     <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         
         {{form.as_p}}
         <button class="btn btn-success">Update</button>
        </form>
    </div>
    {% else %}
    You are not the correct user
    {% endif %}
    {% else %}
    You're not allowed here!
    {% endif %}
</div>
{% endblock content %}