{% extends '../base.html' %}
{% block title %}Home{% endblock title %}Home
{% block content %}
<div class="container my-5">

  <ul class="list-group ">
    {% for post in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <small>

          <div><span class="fw-bold"><b><a href="{% url 'posts:details' post.pk %}">{{post.title}}</b></a></span> -
            <a href="{% url 'posts:category' post.category|slugify %}">{{post.category}}</a> - 
            {{post.post_date}} - 
            {{post.author.first_name}} - {{post.author.last_name}} - 
            {% if user.is_authenticated %}
            {% if user.id == post.author.id%}
            <a href="{% url 'posts:edit_post' post.pk %}">Edit</a> -
            <a href="{% url 'posts:delete_post' post.pk %}">Delete</a>

            {%endif%}
            {%endif%}
          </div>
        </small>
        {{post.snippet}}
        {% comment %} <p>{{post.description|truncatewords:30 | safe}}</p> {% endcomment %}
        <div class="mt20">
          <a href="{% url 'posts:details' post.pk %}" class="btn btn-lght">Read More</a>
        </div>
      </div>
      <!-- <span class="badge bg-primary rounded-pill">14</span> -->
    </li>

    {% endfor %}
  </ul>

</div>

{% endblock %}