.container img{
    width: 300px;
    height: 200px;
}

/* /* span img.img-fluid{
    width: 100px;
    height: 100px;
} */
img{
    width: 100px;
    height: 100px;
} 

.navbar-brand{
    color: white;
}
a.nav-link{
    color: white
}
footer{
    color: white;
}


nav a.navbar-brand:hover{
    color: white;
}